<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ditclear.paonet">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".PaoApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.ditclear.paonet.view.ui.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.ditclear.paonet.view.ui.auth.LoginActivity"
                android:exported="false"
                android:theme="@style/AppTheme.Translucent.Login"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name="com.ditclear.paonet.view.ui.search.SearchActivity" android:theme="@style/AppTheme.Secondary"/>
        <activity android:name="com.ditclear.paonet.view.ui.article.ArticleDetailActivity"/>
        <activity android:name="com.ditclear.paonet.view.ui.code.CodeDetailActivity"/>
        <activity
                android:name="com.ditclear.paonet.view.ui.setting.SettingsActivity"
                android:label="@string/title_activity_settings">
        </activity>
    </application>

</manifest>